<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue Whale</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="blue-whale">
<div class="blurred" style ="background-image: url('/Ocean.jpg');"></div>
<div class="img-wrapper">
    <img class="blur" src="/Blue-whale.jpg" style="width: 650px;height:auto" alt="blue whale">
    <div class="content fade"> The blue whale is the largest animal ever to exist, growing up to 100 feet long.
        Despite their size, they feed almost exclusively on tiny krill, consuming tons each day.</div>
</div>

<a href="/" class="button blue-whale">Go back</a>
</body>
</html>