<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="blurred"></div>
        <div class="img-wrapper">
            <img class="blur" src="/Lion.jpg" style="width: 650px;height:auto" alt="lion">
            <div class="content fade"> The majestic lion, known as the 'King of the Jungle,' roams the African savannas.
                They live in prides and are famous for their powerful roars, heard up to 5 miles away.</div>
        </div>


            <a href="/" class="button lion">Go back</a>


</body>
</html>