<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orangutan</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="orangutan">
<div class="blurred" style ="background-image: url('/Jungle.jpg');"></div>
<div class="img-wrapper">
    <img class="blur" src="/Orangotan.jpg" style="width: 650px;height:auto" alt="dove">
    <div class="content fade"> Orangutans, the 'people of the forest,' are highly intelligent great apes found in the rainforests of Borneo and Sumatra.
        They use tools and share 97% of their DNA with humans.</div>
</div>

<a href="/" class="button orangutan">Go back</a>
</body>
</html>