<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polar Bear</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="polar-bear">
    <div class="blurred" style ="background-image: url('/Antarctica.jpg');"></div>
        <div class="img-wrapper">
            <img class="blur" src="/PolarBear.jpg" style="width: 650px;height:auto" alt="polar bear">
                <div class="content fade"> Polar bears are the Arctic's top predators, perfectly adapted to their icy environment.
                    Their fur appears white but is actually transparent, helping them blend into the snow.</div>
                </div>

    <a href="/" class="button polar-bear">Go back</a>
</body>
</html>